p This is the partial for view 1.
div(hr-layout='layoutOptions', class='container')
hr
div(hr-layout='layoutOptions2', class='container')
hr
div(hr-layout='layoutOptions3', class='container')
hr
div(hr-layout='layoutOptions4', class='container')

